<header class="site-header">
  <h1 class="site-header-logo"><%= link_to "Recordly", "#", class: "site-header-logo-link" %></h1>
  <%= link_to "+ Add Music", "#", id: "add-music", class: "site-header-add" %>
  <input type="text" placeholder="Type for search" class="site-header-search"></input>

  <nav class="site-nav">
    <ul class="site-nav-links">
      <li class="site-nav-link"><%= link_to "Favorites", "#" %></li>
      <li class="site-nav-link"><%= link_to "Songs", "#" %></li>
      <li class="site-nav-link"><%= link_to "Artists", "#" %></li>
      <li class="site-nav-link"><%= link_to "Albums", "#" %></li>
    </ul>
  </nav>
</header>