<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>

  <% flash.each do |type, msg| %>
    <section class="alert alert-<%= type%>">
      <h2><%= type %>!</h2>
      <p><%= msg %></p>
    </section>
  <% end %>

  <main class="content">
    <%= yield %>
  </main>

  <%= debug(params) if Rails.env.development? %>

</body>
</html>
