<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Recordly</h1>
    <a href="#add">+ Add Music</a>
    <input type="text" placeholder="Type for search"></input>

    <nav>
      <ul>
        <li><a href="/favorites">Favorites</a></li>
        <li><a href="/songs">Songs</a></li>
        <li><a href="/albums">Albums</a></li>
        <li><a href="/artists">Artists</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

</body>
</html>
